@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slick-dots{
  @apply flex justify-start items-center 
}
.slick-dots .slick-active div{
  @apply bg-primary border-none  scale-150
}

